server:
  port: 50001

logging:
  level:
    root: WARN
    de.muenchen.dave: INFO

db.schema: dave_ng
spring:
  flyway:
    enabled: true
    schemas: ${db.schema}
    defaultSchema: ${db.schema}
  datasource:
    url: jdbc:postgresql://postgres:5432/dave-db
    username: dave
    password: 1234
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20          # Increase the maximum pool size (default: 10)
      connection-timeout: 600000     # Connection timeout in milliseconds (default: 30000)
  jpa:
    database: postgresql
    hibernate:
      # always drop and create the db should be the best
      # configuration for local (development) mode. this
      # is also the default, that spring offers by convention.
      # but here explicite:
      ddl-auto: create-drop
      naming.physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    # Logging for database operation
    show-sql: true
    properties:
      hibernate:
        default_schema: ${db.schema}
        format_sql: true

  security:
    # possible values: none, all, changing (With changing, only changing requests such as POST, PUT, DELETE are logged)
    logging.requests: all
    oauth2:
      resource:
        user-info-uri: ${SSO_BASE_URL}/realms/${realm}/protocol/openid-connect/userinfo
      resourceserver:
        jwt:
          issuer-uri: ${SSO_BASE_URL}/realms/${realm}
          jwk-set-uri: ${SSO_BASE_URL}/realms/${realm}/protocol/openid-connect/certs
      client:
        provider:
          keycloak:
            token-uri: ${SSO_BASE_URL}/realms/${realm}/protocol/openid-connect/token
        registration:
          keycloak:
            client-id: dave
            client-secret: 36181282-0eb1-4915-afe5-655b9ddbc427
            authorization-grant-type: client_credentials
            client-authentication-method: client_secret_post

# Management
management.health.elasticsearch.enabled: false

# Define the keycloak realm here
realm: Dave

elasticsearch.index.suffix: -ng
elasticsearch:
  user: elastic
  password: changeme
  host: elastic
  port: 9200
  connectTimeout: 10
  socketTimeout: 30

dave:
  zaehlung:
    status:
      #      Alle 5 min
      updater: 0 0 * 1/1 * ?
  email:
    address: dave-dummy@mail.de
    password: dummy
    url:
      adminportal: http://localhost:8085
      selfserviceportal: http://localhost:8086
    receiver:
      # Update-Intervall in Millisekunden für den Email-Abruf
      update-interval: 50000000000
      hostname: imap.de
  messstelle:
    # Alle 5 min
    cron: 0 0 * 1/1 * ?
    # Sollte immer knapp unter dem Cron sein
    shedlock: 4m
  reports:
    logo-icon: classpath:/pdf/images/kindl.jpg
    logo-subtitle: "Landeshauptstadt<br/>München<br/><b>Mobilitätsreferat</b>"

geodaten.eai.url: http://localhost:8088

document-storage.url: http://localhost:8089

