<!DOCTYPE html>
<html>
<head>
  {{{globalCssMustachePart}}}
</head>
<body>
{{{logoMustachePart}}}
{{{footerMustachePart}}}
<!-- Metainformationen -->
<h4>{{documentTitle}}</h4>
{{{zaehlstelleninformationenMustachePart}}}
<h5>{{chartTitle}}</h5>
{{#belastungsplanKreisverkehr}}
  <img style="width: 100%" src="{{belastungsplanKreisverkehr}}"/>
{{/belastungsplanKreisverkehr}}

{{#chart}}
  <img style="width: 95%" src="{{chart}}"/>
{{/chart}}
{{{zusatzinformationenMustachePart}}}
</body>
</html>