<!DOCTYPE html>
<html>
<head>
  {{{globalCssMustachePart}}}
  {{{zeitreiheCssMustachePart}}}
</head>
<body>
<table>
    <tr>
        {{{logoMustachePart}}}
        {{{footerMustachePart}}}
        <h4>{{documentTitle}}</h4>
        {{{zaehlstelleninformationenZeitreiheMustachePart}}}
        {{{schematischeUebersichtMustachePart}}}
    </tr>
</table>
<br/>
<h5>{{chartTitle}}</h5>
<img src="{{chart}}"
     style="max-height: 100%; max-width: 100%;"
/>
{{{zeitreiheTableMustachePart}}}
<br/><br/>
{{{zusatzinformationenZeitreiheMustachePart}}}
</body>
</html>