<!DOCTYPE html>
<html>
<head>
  {{{globalCssMustachePart}}}
  {{{datentabelleCssMustachePart}}}
</head>
<body>
{{{logoMustachePart}}}
{{{footerMustachePart}}}
<!--Ab der zweiten Seite soll über dem Content noch ein Header angezeigt werden-->
<div style="position: running(datentabelle-header-second-page-and-onward); margin-top: 1.1cm; margin-left: 0.2cm">
  <h4>{{documentTitle}}</h4>
  {{#messstelleninformationen}}
    <b>{{standort}}</b>
    <table class="format">
      <tr>
        <td>Messzeitraum:</td>
        <td>{{messzeitraum}}</td>
      </tr>
    </table>
    <br/>
  {{/messstelleninformationen}}
    <table>
        {{#datatableTitle}}
            <tr><td><h5 class="{{cssClass}} {{cssClassOngoing}}">{{text}}</h5></td></tr>
        {{/datatableTitle}}
    </table>
</div>

<table><tr>
<h4>{{documentTitle}}</h4>
{{{messstelleninformationenMustachePart}}}
{{{schematischeUebersichtMustachePart}}}
</tr></table>
<br/>
<table>
    <tr class="blank_row"> <td></td></tr>
    {{#datatableTitle}}
    <tr><td><h5 class="{{cssClass}}">{{text}}</h5></td></tr>
    {{/datatableTitle}}
</table>
{{{datentabelleTableMustachePart}}}
</body>
</html>