<!DOCTYPE html>
<html>
<head>
  {{{globalCssMustachePart}}}
  {{{datentabelleCssMustachePart}}}
</head>
<body>
{{{logoMustachePart}}}
{{{footerMustachePart}}}
<!--Ab der zweiten Seite soll über dem Content noch ein Header angezeigt werden-->
<div style="position: running(datentabelle-header-second-page-and-onward); margin-top: 1.1cm">
  <h4>{{documentTitle}}</h4>
  {{#messstelleninformationen}}
    <b>{{standort}}</b>
    <table class="format">
      <tr>
        <td>Messzeitraum:</td>
        <td>{{messzeitraum}}</td>
      </tr>
    </table>
    <br/>
  {{/messstelleninformationen}}
  <h5>{{tableTitle}}</h5>
</div>

<h4>{{documentTitle}}</h4>
{{{messstelleninformationenMustachePart}}}
{{{schematischeUebersichtMustachePart}}}
<br/>
{{{datentabelleTableMustachePart}}}
</body>
</html>