<!DOCTYPE html>
<html>
<head>
  {{{globalCssMustachePart}}}
  {{{ganglinieCssMustachePart}}}
</head>
<body>
{{{logoMustachePart}}}
{{{footerMustachePart}}}
<!-- Metainformationen -->
<h4>{{documentTitle}}</h4>
{{{messstelleninformationenMustachePart}}}
{{{schematischeUebersichtMustachePart}}}
<h5>{{chartTitle}}</h5>
<img src="{{chart}}"
     style="max-height: 100%; max-width: 100%;"
/>
<br/>
{{{ganglinieTablesMustachePart}}}
{{{zusatzinformationenMustachePart}}}
</body>
</html>