<!DOCTYPE html>
<html>
<head>
  {{{globalCssMustachePart}}}
  {{{ganglinieCssMustachePart}}}
</head>
<body>
<table>
    <tr>
        {{{logoMustachePart}}}
        {{{footerMustachePart}}}
        <!-- Metainformationen -->
        <h4>{{documentTitle}}</h4>
        {{{messstelleninformationenMustachePart}}}
        {{{schematischeUebersichtMustachePart}}}
    </tr>
</table>
<br/>
<table>
    <tr class="blank_row"> <td class="no_border"></td></tr>
    <h5>{{zeitauswahl}}</h5>
    <tr><td class="no_border"><h5 class="no_margin_top">{{chartTitle}}</h5></td></tr>
</table>
<img src="{{chart}}"
     style="max-height: 100%; max-width: 100%;"
/>
<br/>
{{{ganglinieTablesMustachePart}}}
</body>
</html>