<style>
  /* Zeitreihendiagramm */
  table.zeitreihe {
    border-collapse: collapse;
    -fs-table-paginate: paginate;
  }

  table.zeitreihe tr, td, th {
    border: 1px solid black;
    font-size: small;
    text-align: left;
  }

  table.zeitreihe th {
    font-weight: bold;
  }

  .zeitreihe-table-cell {
    width: 20mm;
  }

  .align-right {
    text-align: right;
  }

  table.zeitreihe tr:nth-child(even) {
    background-color: #eee;
  }

  table.zeitreihe tr:nth-child(odd) {
    background-color: #fff;
  }

  .color-box {
    float: left;
    width: 8px;
    height: 8px;
    margin-top: 4px;
    margin-left: 1.5px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  .color-box.kfz {
    background: #B71C1C;
  }
  .color-box.gv {
    background: #40C4FF;
  }
  .color-box.sv {
    background: #0D47A1;
  }
  .color-box.rad {
    background: #1B5E20;
  }
  .color-box.fuss {
    background: #CDDC39;
  }
  .color-box.sv-anteil {
    background: #263238;
  }
  .color-box.gv-anteil
  {
    background: #90A4AE;
  }
  .color-box.gesamt {
    background: #311B92;
  }

</style>