{{#sindZusatzinformationenVorhanden}}
  <b>Zusatzinformationen:</b><br/>
  <table class="format format-informationen">
    {{#zusatzinformationenZeitreihe}}
      <tr>
        {{#identifier}}
          <td>
            <div style="margin-right: 10px">{{.}}</div>
          </td>
        {{/identifier}}
        {{#comment}}
          <td>{{.}}</td>
        {{/comment}}
      </tr>
    {{/zusatzinformationenZeitreihe}}
  </table>
{{/sindZusatzinformationenVorhanden}}
