<style>
  /* Datentabelle */

  /* Da @page:first explizit hier und in global-css gesetzt wird, betrifft folgender Abschnitt alle anderen Pages (2, 3, usw.) */
  @page {
    /* Wird benötigt damit der "richtige" content erst nach dem @top-left Element anfängt */
    margin-top: 5.6cm;
    @top-left {
      content: element(datentabelle-header-second-page-and-onward)
    }
    @bottom-center {
      content: "Seite " counter(page) " von " counter(pages);
      font-size: small;
      font-family: "Roboto", sans-serif;
    }
  }

  @page :first {
    margin-top: 1cm;
    margin-right: 1cm;
    /*Da Footer im Margin Bereich liegt 1.5cm mehr als oben und rechts*/
    margin-bottom: 2.4cm;
    margin-left: 2.5cm;

    @bottom-center {
      content: "Seite " counter(page) " von " counter(pages);
      font-size: small;
      font-family: "Roboto", sans-serif;
    }
  }

  h5.datentabelle {
    margin-top: 0px;
  }

  td.datentabelle-cell-numeric {
    text-align: center;
  }

  table.datentabelle {
    border: 1px solid black;
    border-collapse: collapse;
    -fs-table-paginate: paginate;
    width: 100%;
  }

  table.datentabelle td, th {
    font-size: xx-small;
    border: 0px;
    border-collapse: collapse;
  }

  table.datentabelle th.datentabelle-header {
    text-align: center;
    font-weight: bold;
  }

  table.datentabelle td.datentabelle-border-right, th.datentabelle-border-right {
    border-right: 1px solid black;
  }

  table.datentabelle th.datentabelle-border-bottom, th.datentabelle-border-bottom {
    border-bottom: 1px solid black;
  }

  /* Keine Umrandung und kein Umbruch bei 15-Minuten Werten */
  .datentabelle-row {
    -fs-page-break-min-height: 5cm;
    background-color: #fff;
  }

  table.datentabelle tr.datentabelle-rowStunde td {
    font-weight: bold;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }


  table.datentabelle tr.datentabelle-rowSpStdBlock td {
    background-color: #eee;
    font-weight: bold;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  table.datentabelle tr.datentabelle-rowSpStdTag td {
    background-color: #eee;
    font-weight: bold;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  table.datentabelle tr.datentabelle-rowBlock td {
    background-color: #eee;
    font-weight: bold;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  table.datentabelle tr.datentabelle-rowTageswert td {
    font-weight: bold;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  /* Hier wird dem "rechtesten" angezeigten Fahrzeugtyp eine rechte Border verpasst */
  table.datentabelle .datentabelle-{{datentabelleZaehldaten.getRightBorderFahrzeugtypen}} {
    border-right: 1px solid black;
  }

  /* Hier wird der "rechtesten" angezeigten Fahrzeugklasse eine rechte Border verpasst */
  table.datentabelle .datentabelle-{{datentabelleZaehldaten.getRightBorderFahrzeugklassen}} {
    border-right: 1px solid black;
  }

  /* Hier wird den "rechtesten" angezeigtem Anteil eine rechte Border verpasst */
  table.datentabelle .datentabelle-{{datentabelleZaehldaten.getRightBorderAnteile}} {
    border-right: 1px solid black;
  }

  table.datentabelle .datentabelle-fahrzeugtypen {
    width: {{datentabelleZaehldaten.getColWidthFahrzeugtypen}}%;
  }

  table.datentabelle .datentabelle-fahrzeugklassen {
    width: {{datentabelleZaehldaten.getColWidthFahrzeugklassen}}%;
  }

  table.datentabelle .datentabelle-anteile {
    width: {{datentabelleZaehldaten.getColWidthAnteile}}%;
  }

  table.datentabelle .datentabelle-zeit {
    width: 8%;
  }

  .blank_row
  {
      height: 10px; /* overwrites any other rules */
  }

</style>