<div style="position: running(left); margin-top: 30px; width: 500px"></div>
<table class="format" style="position: running(logo); margin-top: 38px;">
  <tr>
    <td style="width: 30%;">
      <img
          style="width: 26px;"
          src="{{logoIcon}}"
      />
    </td>
    <td>
      logo.mustache -> {{logoSubtitle}}
    </td>
  </tr>
</table>