{{#schematischeUebersichtNeeded}}
  <img src="{{schematischeUebersichtAsBase64Png}}"
       style="position: absolute; top: 80px; right: 20px; width: 120px; height: 120px;"/>
{{/schematischeUebersichtNeeded}}