{{#schematischeUebersichtNeeded}}
  <img src="{{schematischeUebersichtAsBase64Png}}"
       style="position: absolute; top: 40px; right: 20px; width: 200px; height: 200px;"/>
{{/schematischeUebersichtNeeded}}