{{#zaehlstelleninformationen}}
<b>{{projektname}}</b>
<table class="format format-informationen" style="width:450px;">
  <tr>
<!--    Alle weiteren ersten Spalten implizit die gleiche width -->
    <td style="width: 110px;">Zähldatum:</td>
    <td style="width: 340px;">{{zaehldatum}}</td>
  </tr>
  <tr>
    <td>Zähldauer:</td>
    <td>{{zaehldauer}}</td>
  </tr>
  <tr>
    <td>Kreuzungsname:</td>
    <td>{{kreuzungsname}}</td>
  </tr>
  <tr>
    <td>Zählsituation:</td>
    <td>
      {{zaehlsituation}}
    </td>
  </tr>
    <tr>
      <td>erw. Zählsituation:</td>
      <td>
        {{zaehlsituationErweitert}}
      </td>
    </tr>
  <tr>
    <td>Wetter:</td>
    <td>{{wetter}}</td>
  </tr>
</table>
{{/zaehlstelleninformationen}}