{{#zusatzinformationen}}
  {{#istKommentarVorhanden}}
    <br/>
    <br/>
    <b>Zusatzinformationen:</b><br/>
    {{#istKommentarVorhandenZaehlstelle}}
      {{kommentarZaehlstelle}}<br/>
    {{/istKommentarVorhandenZaehlstelle}}
    {{#istKommentarVorhandenZaehlung}}
      {{kommentarZaehlung}}
    {{/istKommentarVorhandenZaehlung}}
  {{/istKommentarVorhanden}}
{{/zusatzinformationen}}