<figure style="margin-bottom: 20px; page-break-inside: avoid;">
  <div class="report">
    <img style="width: {{width}}%; display: block;" src="{{image}}"/>
    <figcaption class="report">{{caption}}</figcaption>
  </div>
</figure>