<table class="zaehlungskenngroessen">
  <thead>
  <tr>
    <th>Typ</th>
    <th>Beginn</th>
    <th>Ende</th>
    {{#printKfz}}
      <th>KFZ</th>
      <th>SV</th>
      <th>GV</th>
    {{/printKfz}}
    {{#printRad}}
      <th>Rad</th>
    {{/printRad}}
    {{#printFuss}}
      <th>Fuß</th>
    {{/printFuss}}
  </tr>
  </thead>
  {{#zaehldaten}}
    <tr>
      <td>{{type}}</td>
      <td>{{startUhrzeit}}</td>
      <td>{{endeUhrzeit}}</td>
      {{#printKfz}}
        <td>{{kfz}}</td>
        <td>{{schwerverkehr}}</td>
        <td>{{gueterverkehr}}</td>
      {{/printKfz}}
      {{#printRad}}
        <td>{{fahrradfahrer}}</td>
      {{/printRad}}
      {{#printFuss}}
        <td>{{fussgaenger}}</td>
      {{/printFuss}}
    </tr>
  {{/zaehldaten}}
</table>