  <style>
    /* Gesamtauswertung */
    table.gesamtauswertung {
      border-collapse: collapse;
      -fs-table-paginate: paginate;
    }

    table.gesamtauswertung tr, td, th {
      border: 1px solid black;
      font-size: x-small;
    }

    .gesamtauswertung-table-cell {
      width: {{{tableCellWidth}}};
    }

    .gesamtauswertung-table-cell-header {
      text-align: center;
    }

    .gesamtauswertung-table-cell-legend {
      text-align: left;
    }

    .gesamtauswertung-table-cell-data {
      text-align: right;
    }

    .color-box {
      float: left;
      width: 8px;
      height: 8px;
      margin-top: 4px;
      margin-left: 1.5px;
      margin-right: 3px;
      border: 1px solid rgba(0, 0, 0, .2);
    }
    .color-box.default {
        background: transparent;
        display: none;
    }
    .color-box.kfz {
      background: #B71C1C;
    }
    .color-box.gv {
      background: #40C4FF;
    }
    .color-box.sv {
      background: #0D47A1;
    }
    .color-box.rad {
      background: #1B5E20;
    }
    .color-box.fuss {
      background: #CDDC39;
    }
    .color-box.sv-anteil {
      background: #263238;
    }
    .color-box.gv-anteil
    {
      background: #90A4AE;
    }
    .color-box.pkw-einheiten
    {
      background: #000000;
    }
    .color-box.pkw
    {
      background: #00E5FF;
    }
    .color-box.lkw
    {
      background: #BF360C;
    }
    .color-box.lz
    {
      background: #FF9E80;
    }
    .color-box.lfw
    {
      background: #CDDC39;
    }
    .color-box.busse
    {
      background: #FFC107;
    }
    .color-box.krad
    {
      background: #0097A7;
    }

    .color-box.mst-0
    {
        background: #F44336;
    }
    .color-box.mst-1
    {
        background: #9C27B0;
    }
    .color-box.mst-2
    {
        background: #3F51B5;
    }
    .color-box.mst-3
    {
        background: #03A9F4;
    }
    .color-box.mst-4
    {
        background: #009688;
    }
    .color-box.mst-5
    {
        background: #CDDC39;
    }
    .color-box.mst-6
    {
        background: #FFC107;
    }
    .color-box.mst-7
    {
        background: #795548;
    }
    .color-box.mst-8
    {
        background: #607D8B;
    }
    .color-box.mst-9
    {
        background: #E91E63;
    }

    table.gesamtauswertung tr:nth-child(even) {
      background-color: #eee;
    }

    table.gesamtauswertung tr:nth-child(odd) {
      background-color: #fff;
    }
  </style>