{{#messstelleninformationen}}
<b>{{standort}}</b>
<table class="format format-informationen" style="width:450px;">
  <tr>
<!--    Alle weiteren ersten Spalten implizit die gleiche width -->
    <td style="width: 110px;">Verkehrsarten:</td>
    <td style="width: 340px;">{{detektierteFahrzeuge}}</td>
  </tr>
  <tr>
    <td>Messzeitraum:</td>
    <td>{{messzeitraum}}</td>
  </tr>
  <tr>
    <td>Wochentag:</td>
    <td>{{wochentag}}</td>
  </tr>
  <tr>
    <td>Kommentar:</td>
    <td>
      {{kommentar}}
    </td>
  </tr>
</table>
{{/messstelleninformationen}}