name: compliance check and build test

on:
  pull_request:
    branches: [main]  
  push:
  workflow_dispatch:

jobs:
  compliance:
    name: "Compliance Check"
    runs-on: [self-hosted, linux, X64]

    permissions:
      contents: read
      security-events: read
      packages: read
      pull-requests: write  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Advance Security Policy as Code
        uses: advanced-security/policy-as-code@v2.11.1
        continue-on-error: true
        with:
          policy: GeekMasher/security-queries
          policy-path: $GITHUB_WORKSPACE/policies/default.yml
          token: ${{ secrets.GITHUB_TOKEN }}
          argvs: '--disable-dependabot --disable-secret-scanning --disable-code-scanning'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-maven:
    needs: compliance
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Build with Maven
        id: maven
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@v1.0.20
