name: build test

on: [push]

jobs:
  build-maven:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Build with Maven
        id: maven
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@v1.0.20
