name: compliance check and build test

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  compliance:
    name: "Compliance Check"
    runs-on: [self-hosted, linux, X64]

    permissions:
      contents: read
      security-events: read
      packages: read
      pull-requests: write  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Advance Security Policy as Code
        uses: advanced-security/policy-as-code@v2.11.1
        continue-on-error: true
        with:
          policy: GeekMasher/security-queries
          policy-path: $GITHUB_WORKSPACE/policies/default.yml
          token: ${{ secrets.GITHUB_TOKEN }}
          argvs: '--disable-dependabot --disable-secret-scanning --disable-code-scanning'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-maven:
    needs: compliance
    runs-on: [self-hosted, linux, X64]
    permissions:
      packages: read
      contents: read
    steps:
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.2

      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Build with Maven
        run: mvn clean -B package --file pom.xml
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
