name: release & publish docker image

on:
  workflow_dispatch:
    inputs:
      release-version: # id of input
        description: "override default release version e.g. with 0.1.0-1"
        required: false

permissions:
  contents: write
  packages: read

env:
  IMAGE_NAME: "dave-backend"
  RELEASE_VERSION: ${{ github.event.inputs.release-version }}
  DOCKERHUB_USERNAME: starwit
  DOCKERHUB_ORG: starwitorg

jobs:
  build:
    name: "Creating maven and github release"
    runs-on: [self-hosted, linux, X64]

    steps:
      - name: Install GH CLI
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.0

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.12

      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Maven release pepare
        run: |
          git config --global user.email "code@starwit.de"
          git config --global user.name "Starwit"
          if [ ! -z "${{ env.RELEASE_VERSION }}" ]
          then
            echo "new version manually set to ${{ env.RELEASE_VERSION }}"
            mvn -B build-helper:parse-version versions:set -DnewVersion=${{ env.RELEASE_VERSION }}-SNAPSHOT versions:commit --file pom.xml
          fi
          echo "mvn generate-sources --file pom.xml"
          mvn generate-sources --file pom.xml
          echo "git add ."
          git add .
          modifications=$(git status | grep "modified" || true)
          if [ ! -z "$modifications" ]
          then
            echo "modifications found: $modifications"
            git commit -m "modified changelog"
            git push
          fi
          mvn -B release:clean release:prepare -Darguments="-DskipTests" --file pom.xml
          mvn -B release:clean --file pom.xml
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag name
        run: |
          echo "TAG=$( git describe --abbrev=0 )" >> $GITHUB_ENV

      - name: Create github release
        run: gh release create ${{ env.TAG }} -F CHANGELOG.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout tag
        run: |
          git checkout ${{ env.TAG }}

      - name: Build with Maven
        run: mvn clean -B package --file pom.xml
        env:
          CI: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_docker:
    name: "Build and publish docker"
    needs: build
    runs-on: [self-hosted, linux, X64]

    steps:
      - name: Get tag name
        run: |
          echo "TAG=$( git describe --abbrev=0 )" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          sbom: true
          provenance: mode=max
          tags: ${{ env.DOCKERHUB_ORG }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}